<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Sites</title>
    <link rel="stylesheet" th:href="@{/webjars/Semantic-UI/semantic.css}">
</head>
<body>
<div class="ui inverted menu">
    <div class="ui container">
        <a href="#" class="header item">
            C9 Tutorial
        </a>
        <a href="/" class="item">Home</a>
        <a href="/sites" class="item">All Sites</a>
    </div>
</div>

<div class="ui main text container">
    <h1 class="ui main text" th:text="${site.get().name}"></h1>
    <p>All Responsibles</p>

    <table class="ui celled table striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="responsible : ${site.get().responsibles}">
                <td th:text="${responsible.id}"></td>
                <td th:text="${responsible.firstName}"></td>
                <td th:text="${responsible.lastName}"></td>
            </th:block>
        </tbody>
    </table>

</div>
</body>
</html>